<%= form_with(model: girl, local: true) do |form| %>
  <% if girl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(girl.errors.count, "error") %> prohibited this girl from being saved:</h2>

      <ul>
      <% girl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class:"form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, class:"form-label" %>
    <%= form.text_area :content, class:"form-control" %>
  </div>

  <div class="form-group">
     <%= form.label :image %>
     <%= form.file_field :image %>
  </div>

  <div class="mb-3 form-check">
    <%= form.submit class:"btn btn-default" %>
  </div>
<% end %>

